---
http_interactions:
- request:
    method: get
    uri: http://partner-feed.stubhub.com/listingCatalog/select/?q=event_id:%229099588%22%20AND%20stubhubDocumentType:%22event%22&rows=999999&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sun, 14 Sep 2014 18:53:37 GMT
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"responseHeader":{"status":0,"QTime":3,"params":{"q":"event_id:\"9099588\" AND stubhubDocumentType:\"event\"","wt":"json","rows":"60000"}},"response":{"numFound":1,"start":0,"docs":[{"stubhubDocumentId":"event-9099588","stubhubDocumentType":"event","event_id":"9099588","act_primary":"5 Seconds of Summer","id":"9099588","active":"1","cancelled":"0","allowedtoconfirm":"1","allowedtosell":"1","ancestorGenreIds":"0 1 722346 730847","ancestorGeoIds":"0 196976 403 669 5323","channel":"Concert tickets","channelId":"1","channelUrlPath":"concert-tickets","channel_facet_str":"Concert tickets|1","city":"West Palm Beach","date_confirm":"2014-07-29T17:10:49Z","date_inhand":"2014-07-30T17:10:49Z","date_last_modified":"2014-07-30T23:59:46Z","date_onsale":"2014-07-30T17:10:49Z","description":"5 Seconds of Summer Tickets","desc_sort":"5 Seconds of Summer Tickets","eventDate_facet_str":"September, 2015|2015-09","eventGenreParentDescription_facet_str":"5 Seconds of Summer Tickets|730847","eventGeoDescription":"Cruzan Amphitheatre","eventGeoDescription_text":"Cruzan Amphitheatre","eventLocation_facet_str":"Florida Miami / S. Florida|669","event_date":"2015-09-13T23:30:00Z","event_date_local":"2015-09-13","event_date_time_local":"2015-09-13T19:30:00Z","event_time_local":"19:30:00","event_type":"9099588, ","evt_segmentation_id":"0","genreUrlPath":"5-seconds-of-summer-tickets","genre_grand_parent_id":"722346","genre_grand_parent_name":"Artist #","genre_parent":"730847","genre_parent_name":"5 Seconds of Summer Tickets","geoEventTypes":"outdoor-venues  ","geoUrlPath":"sound-advice-amphitheatre-event-tickets","geography_parent":"5323","hide_event_date":"0","image_url":"stubhub_6331_Concert_CruzanAmphitheatre_400.png","is_eticket_allowed":"0","is_integrated_team":"N","keywords":"5 Seconds of Summer, , 5 Seconds of Summer Cruzan Amphitheatre, 5 Seconds of Summer West Palm Beach,5 Seconds of Summer Concert, buy, sell, ticket, tickets","last_chance":"2015-09-13T23:30:00Z","maxPrice":5882.0,"maxSeatsTogether":20.0,"meta_description":"5 Seconds of Summer Cruzan Amphitheatre Tickets - Buy and sell 5 Seconds of Summer West Palm Beach Tickets for September 13 at Cruzan Amphitheatre in West Palm Beach, FL on StubHub!","minPrice":34.97,"minSeatsTogether":1.0,"name_primary":"Cruzan Amphitheatre","name_secondary":"5 Seconds of Summer","nickname":"concerts","seo_description":"5 Seconds of Summer at Cruzan Amphitheatre","seo_title":"5 Seconds of Summer Cruzan Amphitheatre West Palm Beach Tickets - 2015-9-13","spark_event_flag":"0","state":"FL","threeLevelsUpIds":"730847 722346 1","title":"5 Seconds of Summer West Palm Beach Tickets - 5 Seconds of Summer 09/13/2015 Cruzan Amphitheatre Tickets on StubHub!","totalPostings":479,"totalTickets":1808.0,"type_id":"0","urlpath":"5-seconds-of-summer-west-palm-beach-cruzan-amphitheatre-9-13-2015-9099588","urlpathid":"15084353","venue_config_id":"6331","venue_name":"Cruzan Amphitheatre","venue_name_text":"Cruzan Amphitheatre","venueconfigurationid":"6331","zip":"33411","zoneDescriptions":"|General Admission Upper Party Deck |Lawn GA |Lower |Upper |VIP Box SRO |VIP Boxes","zoneIds":"94670 11892 11889 11891 84624 11890","defaultDomain":"stubhub.com","allowedViewingDomain":["stubhub.com"],"artistPrimaryStyle":"441193","artistSecondaryStyle":["195743","209736"],"genreStartingAlphabet":["#"],"is_event_package":"0","latitude":26.685429,"longitude":-80.18676,"lat_lon":"26.685428,-80.18676","date_added":"2014-07-30T17:10:49Z","event_status_id":2,"ancestorGenreDescriptions":["All tickets","Concert tickets","Artist #","5 Seconds of Summer Tickets"],"ancestorGeoDescriptions":["By Geography","United States","Florida","Miami / S. Florida","Cruzan Amphitheatre"],"timezone":"EST","timezone_id":"2","venue_config_name":"Concert - Dynamic","updateInitiatedTimestamp":"2014-09-14T16:18:16.193Z","book_of_business_id":1,"currency_code":"USD","event_config_template_id":"1","event_config_template":"Concert","venue_configuration_version":"7","locale":["en_US"],"keywords_en_US":"5 Seconds of Summer, , 5 Seconds of Summer Cruzan Amphitheatre, 5 Seconds of Summer West Palm Beach,5 Seconds of Summer Concert, buy, sell, ticket, tickets","event_type_en_US":"9099588, ","seo_title_en_US":"5 Seconds of Summer Cruzan Amphitheatre West Palm Beach Tickets - 2015-9-13","seo_description_en_US":"5 Seconds of Summer at Cruzan Amphitheatre","name_primary_en_US":"Cruzan Amphitheatre","name_secondary_en_US":"5 Seconds of Summer","act_primary_en_US":"5 Seconds of Summer","title_en_US":"5 Seconds of Summer West Palm Beach Tickets - 5 Seconds of Summer 09/13/2015 Cruzan Amphitheatre Tickets on StubHub!","meta_description_en_US":"5 Seconds of Summer Cruzan Amphitheatre Tickets - Buy and sell 5 Seconds of Summer West Palm Beach Tickets for September 13 at Cruzan Amphitheatre in West Palm Beach, FL on StubHub!","event_description_en_US":"5 Seconds of Summer Tickets","event_suggest":"5 Seconds of Summer Tickets 5 Seconds of Summer West Palm Beach Tickets - 5 Seconds of Summer 09/13/2015 Cruzan Amphitheatre Tickets on StubHub! 5 Seconds of Summer Cruzan Amphitheatre By Geography United States Florida Miami / S. Florida Cruzan Amphitheatre 5 Seconds of Summer, , 5 Seconds of Summer Cruzan Amphitheatre, 5 Seconds of Summer West Palm Beach,5 Seconds of Summer Concert, buy, sell, ticket, tickets All tickets Concert tickets Artist # 5 Seconds of Summer Tickets Artist # Cruzan Amphitheatre  5 Seconds of Summer ","jdk_timezone":"US/Eastern","date_true_onsale":"2014-08-09T14:00:00Z","date_first_presale":"2014-08-05T14:00:00Z","ptv_integrated_event_ind":0,"venueDetailUrlPath":"sound-advice-amphitheatre","is_scrubbing_enabled":"1","view_from_section_ind":1,"bundled_type":"2","hide_event_time":0,"minListPrice":29.97,"venue_config_map_type":5,"addr1":"601-7 Sansburys Way","country":"US","ancestorCategoryPath":"1","ancestorGroupingPath":"722346","ancestorPerformerPath":"730847","ancestorGroupingDescriptions":["Artist #"],"ancestorCategoryDescriptions":["Concert tickets"],"ancestorPerformerDescriptions":["5 Seconds of Summer Tickets"],"ancestorGeoPath":"196976/403/669","venue_config_ga_ind":0,"ancestorCategoryUrls":["concert-tickets"],"ancestorGroupingUrls":["artist--"],"ancestorPerformerUrls":["5-seconds-of-summer-tickets"],"ancestorGeoUrls":["united-states-tickets","florida-tickets","miami-s-florida-tickets"],"dateLastIndexed":"2014-09-14T16:18:17.259Z","_version_":1479238219098750976}]}}
  recorded_at: Sun, 14 Sep 2014 18:54:17 GMT
- request:
    method: get
    uri: http://partner-feed.stubhub.com/listingCatalog/select/?q=description:%22above%20and%20beyond%22%20AND%20stubhubDocumentType:%22event%22&rows=999999&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sun, 14 Sep 2014 18:44:16 GMT
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
      [...]
