---
http_interactions:
- request:
    method: get
    uri: http://partner-feed.stubhub.com/listingCatalog/select/?q=event_id:%224187540%22%20AND%20stubhubDocumentType:%22event%22&rows=999999&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"responseHeader":{"status":0,"QTime":2,"params":{"q":"event_id:\"4187540\" AND stubhubDocumentType:\"event\"","wt":"json","rows":"60000"}},"response":{"numFound":0,"start":0,"docs":[]}}
  recorded_at: Thu, 20 Feb 2014 05:18:21 GMT
- request:
    method: get
    uri: http://partner-feed.stubhub.com/listingCatalog/select/?q=event_id:%224273141%22%20AND%20stubhubDocumentType:%22event%22&rows=999999&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"responseHeader":{"status":0,"QTime":3,"params":{"q":"event_id:\"4273141\" AND stubhubDocumentType:\"event\"","wt":"json","rows":"60000"}},"response":{"numFound":1,"start":0,"docs":[{"stubhubDocumentId":"event-4273141","stubhubDocumentType":"event","event_id":"4273141","act_primary":"Russell Howard","act_secondary":"Wonderbox","id":"4273141","active":"1","cancelled":"0","allowedtoconfirm":"1","allowedtosell":"1","ancestorGenreIds":"0 174 209 700105","ancestorGeoIds":"0 6628 201883 6629 172428","channel":"Theater tickets and Arts tickets","channelId":"174","channelUrlPath":"theater-tickets","channel_facet_str":"Theater tickets and Arts tickets|174","city":"London","date_confirm":"2013-04-22T08:31:49Z","date_inhand":"2013-04-23T08:31:49Z","date_last_modified":"2014-02-26T06:28:23Z","date_onsale":"2013-04-23T08:31:49Z","description":"Russell Howard Tickets","desc_sort":"Russell Howard Tickets","eventDate_facet_str":"April, 2014|2014-04","eventGenreParentDescription_facet_str":"Russell Howard Tickets|700105","eventGeoDescription":"London Royal Albert Hall","eventGeoDescription_text":"London Royal Albert Hall","eventLocation_facet_str":"Greater and Central London, London|6629","event_date":"2014-04-17T19:00:00Z","event_date_local":"2014-04-17","event_date_time_local":"2014-04-17T20:00:00Z","event_time_local":"20:00:00","event_type":"4273141, Wonderbox","evt_segmentation_id":"0","genreDateDesc":"Russell Howard, tickets, schedule,Comedy, Comedy tickets, Comedy, Comedy schedule, Comedy tickets online, ticket to Comedy, buy Comedy tickets, cheap Comedy tickets, buy, sell, tickets, show, stand-up comedy,stand up comedy, comedian,,Theatre and comedy tickets, Musicals, Plays, Dance, Cirque, Comedy and Family Tickets","genreUrlPath":"russell-howard-tickets","genre_grand_parent_id":"209","genre_grand_parent_name":"Comedy Tickets","genre_parent":"700105","genre_parent_name":"Russell Howard Tickets","geoEventTypes":"","geoUrlPath":"london-royal-albert-hall-tickets","geography_parent":"172428","hide_event_date":"0","image_url":"stubhub_442179_LondonRoyalAlbertHall_StandardFlash.png","is_eticket_allowed":"0","is_integrated_team":"N","keywords":"Russell Howard, Wonderbox, Russell Howard London Royal Albert Hall, London Royal Albert Hall, Russell Howard London, Russell Howard London Royal Albert Hall London, Russell Howard 17/4/2014, Russell Howard April 17 tickets, buy, sell","last_chance":"2014-04-17T19:00:00Z","maxPrice":150.0,"maxSeatsTogether":6.0,"meta_description":"Russell Howard London Tickets - Buy and sell Russell Howard London Royal Albert Hall Tickets for 4 April at London Royal Albert Hall in London at StubHub!","minPrice":48.3,"minSeatsTogether":1.0,"name_primary":"Russell Howard London","name_secondary":"Russell Howard","nickname":"comedy","seo_description":"Russell Howard 08:00 at London Royal Albert Hall","seo_title":"Russell Howard London Royal Albert Hall London Tickets - 17/4/2014","spark_event_flag":"0","state":"LND","threeLevelsUpIds":"700105 209 174","title":"Russell Howard London 17/4/2014 Tickets - Russell Howard London Royal Albert Hall Tickets at StubHub!","totalPostings":31,"totalTickets":129.0,"type_id":"0","urlpath":"russell-howard-london-london-royal-albert-hall-17-4-2014-4273141","urlpathid":"2320816","venue_config_id":"442179","venue_name":"London Royal Albert Hall","venue_name_text":"London Royal Albert Hall","venueconfigurationid":"442179","zip":"SW72AP","zoneDescriptions":"|Arena |Choir |Circle |Gallery |Grand Tier |Grand Tier Boxes |Loggia |Loggia Boxes |Restricted |Second Tier |Second Tier Boxes |Stalls |The Queens Box","zoneIds":"64434 64436 64437 64439 86091 64441 86090 64440 64438 86092 64442 64435 86093","defaultDomain":"stubhub.co.uk","allowedViewingDomain":["stubhub.co.uk"],"genreStartingAlphabet":["r"],"is_event_package":"0","latitude":51.50039,"longitude":-0.1756568,"lat_lon":"51.5003892,-0.1756568","date_added":"2013-04-23T08:31:49Z","event_status_id":2,"ancestorGenreDescriptions":["All tickets","Theater tickets and Arts tickets","Comedy Tickets","Russell Howard Tickets"],"ancestorGeoDescriptions":["By Geography","United Kingdom","Greater and Central London","London","London Royal Albert Hall"],"timezone":"GMT","timezone_id":"8","venue_config_name":"Standard Seating - Dynamic","updateInitiatedTimestamp":"2014-03-06T00:00:49.751Z","book_of_business_id":2,"currency_code":"GBP","event_config_template_id":"12","event_config_template":"Comedy","venue_configuration_version":"8","locale":["en_GB"],"keywords_en_GB":"Russell Howard, Wonderbox, Russell Howard London Royal Albert Hall, London Royal Albert Hall, Russell Howard London, Russell Howard London Royal Albert Hall London, Russell Howard 17/4/2014, Russell Howard April 17 tickets, buy, sell","event_type_en_GB":"4273141, Wonderbox","seo_title_en_GB":"Russell Howard London Royal Albert Hall London Tickets - 17/4/2014","seo_description_en_GB":"Russell Howard 08:00 at London Royal Albert Hall","name_primary_en_GB":"Russell Howard London","name_secondary_en_GB":"Russell Howard","act_primary_en_GB":"Russell Howard","act_secondary_en_GB":"Wonderbox","title_en_GB":"Russell Howard London 17/4/2014 Tickets - Russell Howard London Royal Albert Hall Tickets at StubHub!","meta_description_en_GB":"Russell Howard London Tickets - Buy and sell Russell Howard London Royal Albert Hall Tickets for 4 April at London Royal Albert Hall in London at StubHub!","event_description_en_GB":"Russell Howard Tickets","jdk_timezone":"Europe/London","date_true_onsale":"2013-04-23T12:00:00Z","ptv_integrated_event_ind":0,"venueDetailUrlPath":"london-royal-albert-hall","access_control_method":1,"is_scrubbing_enabled":"1","view_from_section_ind":1,"bundled_type":"2","hide_event_time":0,"minListPrice":42.0,"venue_config_map_type":5,"addr1":"Kensington Gore","country":"GB","ancestorCategoryPath":"174/209","ancestorPerformerPath":"700105","ancestorCategoryDescriptions":["Theater tickets and Arts tickets","Comedy Tickets"],"ancestorPerformerDescriptions":["Russell Howard Tickets"],"ancestorGeoPath":"6628/201883/6629","dateLastIndexed":"2014-03-06T00:03:49.089Z","_version_":1461782300489416704}]}}
  recorded_at: Thu, 06 Mar 2014 01:08:04 GMT
- request:
    method: get
    uri: http://partner-feed.stubhub.com/listingCatalog/select/?q=event_id:%224273141%22%20AND%20stubhubDocumentType:%22ticket%22&rows=2&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"responseHeader":{"status":0,"QTime":0,"params":{"q":"event_id:\"4273141\" AND stubhubDocumentType:\"ticket\"","wt":"json","rows":"2"}},"response":{"numFound":34,"start":0,"docs":[{"id":"497011621","stubhubDocumentId":"ticket-497011621","stubhubDocumentType":"ticket","time_left":"315d 0h 40m","date_last_modified":"2013-05-17T15:08:47Z","date_added":"2013-05-07T20:38:11Z","seller_id":"10024845","courier":"0","ticket_list_type_id":"1","ticket_list_type_desc":"Ticket","external_listing_id":"2002662","seller_cobrand":"topseller","section":"Block B","row_desc":"17","delivery_icon":"fedex","seats":"General Admission","sale_method":"1","quantity_remain":6,"quantity_facet_str":" tickets|6","quantity":6,"face_value":"30.0","ticket_split":2,"system_status":"ACTIVE","status":"0","ticket_medium_id":"1","curr_price":86.26,"curPr":86.26,"list_price":75.0,"priceGroups":"1","end_date":"2014-04-16T11:00:00Z","listing_source_id":"6","listing_source_name":"AutoBulkGen3","event_id":"4273141","currency_code":"GBP","split_option":"1","alias":"Arena B","venue_config_sections_id":"329133","hasAliasBool":true,"aliasStr":"1","zoneid":"64434","zonedesc":"Arena","showTicketKeyStr":"ticketACTIVE4273141","fm_dm_rules":["7,17,2.0,,2014-04-16T11:00:00Z","10,22,5.0,,2014-04-14T11:00:00Z"],"fm_dm_rules_desc":["LMS,Pickup - Event Day,2.0,,2014-04-16T11:00:00Z","UPS,UPS Worldwide Saver,5.0,,2014-04-14T11:00:00Z"],"dateLastIndexed":"2013-06-05T10:20:00Z","_version_":1436997512121548800},{"id":"497011627","stubhubDocumentId":"ticket-497011627","stubhubDocumentType":"ticket","time_left":"315d 0h 40m","date_last_modified":"2013-05-17T15:08:46Z","date_added":"2013-05-07T20:38:11Z","seller_id":"10024845","courier":"0","ticket_list_type_id":"1","ticket_list_type_desc":"Ticket","external_listing_id":"2002663"[...]
- request:
    method: get
    uri: http://partner-feed.stubhub.com/listingCatalog/select/?q=stubhubDocumentType:%22ticket%22&rows=1&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"responseHeader":{"status":0,"QTime":100,"params":{"q":"stubhubDocumentType:\"ticket\"","wt":"json","rows":[...]
[...]
- request:
    method: get
    uri: http://partner-feed.stubhub.com/listingCatalog/select/?q=description:%22above%20and%20beyond%22%20AND%20stubhubDocumentType:%22event%22&rows=999999&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"responseHeader":{"status":0,"QTime":4,"params":{"q":"de[...]
