---
http_interactions:
- request:
    method: get
    uri: http://partner-feed.stubhub.com/listingCatalog/select/?q=description:%22above%20and%20beyond%22%20AND%20stubhubDocumentType:%22event%22&rows=999999&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 13 Oct 2014 23:09:02 GMT
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"responseHeader":{"status":0,"QTime":3,"params":{"q":"description:\"above and beyond\" AND stubhubDocumentType:\"event\"","wt":"json","rows":"60000"}},"response":{"numFound":5,"start":0,"docs":[{"stubhubDocumentId":"event-9125471","stubhubDocumentType":"event","event_id":"9125471","act_primary":"Above and Beyond","id":"9125471","active":"0","cancelled":"0","allowedtoconfirm":"1","allowedtosell":"0","ancestorGenreIds":"0 1 63910 494083","ancestorGeoIds":"0 197077 5870 5871 6207","channel":"Concert tickets","channelId":"1","channelUrlPath":"concert-tickets","channel_facet_str":"Concert tickets|1","city":"Vancouver","date_confirm":"2014-09-04T19:10:10Z","date_inhand":"2014-09-05T19:10:10Z","date_last_modified":"2014-10-12T02:00:10Z","date_onsale":"2014-09-05T19:10:10Z","description":"Above and Beyond Tickets","desc_sort":"Above and Beyond Tickets","eventDate_facet_str":"October, 2014|2014-10","eventGenreParentDescription_facet_str":"Above and Beyond Tickets|494083","eventGeoDescription":"Pacific Coliseum","eventGeoDescription_text":"Pacific Coliseum","eventLocation_facet_str":"British Columbia Vancouver|5871","event_date":"2014-10-12T02:00:00Z","event_date_local":"2014-10-11","event_date_time_local":"2014-10-11T19:00:00Z","event_time_local":"19:00:00","event_type":"9125471, ","evt_segmentation_id":"0","genreUrlPath":"above-and-beyond-tickets","genre_grand_parent_id":"63910","genre_grand_parent_name":"Artists A - C","genre_parent":"494083","genre_parent_name":"Above and Beyond Tickets","geoEventTypes":"arena-venues  ","geoUrlPath":"pacific-coliseum-event-tickets","geography_parent":"6207","hide_event_date":"0","image_url":"stubhub_151877_PacificColiseum_EndGAFloor.png","is_eticket_allowed":"0","is_integrated_team":"N","keywords":"Above and Beyond, , Above and Beyond Pacific Coliseum, Above and Beyond Vancouver,Above and Beyond Concert, buy, sell, ticket, tickets","last_chance":"2014-10-12T02:00:00Z","maxPrice":0.0,"maxSeatsTogether":0.0,"meta_description":"Above and Beyond Pacific Coliseum Tickets - Buy and sell Above and Beyond Vancouver Tickets for October 11 at Pacific Coliseum in Vancouver, BC on StubHub!","minPrice":0.0,"minSeatsTogether":0.0,"name_primary":"Pacific Coliseum","name_secondary":"Above and Beyond","nickname":"concerts","seo_description":"Above and Beyond at Pacific Coliseum","seo_title":"Above and Beyond Pacific Coliseum Vancouver Tickets - 2014-10-11","spark_event_flag":"0","state":"BC","threeLevelsUpIds":"494083 63910 1","title":"Above and Beyond Vancouver Tickets - Above and Beyond 10/11/2014 Pacific Coliseum Tickets on StubHub!","totalPostings":0,"totalTickets":0.0,"type_id":"0","urlpath":"above-and-beyond-vancouver-pacific-coliseum-10-11-2014-9125471","urlpathid":"15111317","venue_config_id":"151877","venue_name":"Pacific Coliseum","venue_name_text":"Pacific Coliseum","venueconfigurationid":"151877","zip":"V5K4W3","zoneDescriptions":"|Floor |Lower |Upper","zoneIds":"220409 220410 220411","defaultDomain":"stubhub.com","allowedViewingDomain":["stubhub.com"],"artistPrimaryStyle":"195489","genreStartingAlphabet":["a"],"is_event_package":"0","latitude":49.28587,"longitude":-123.042725,"lat_lon":"49.2858703,-123.042725","date_added":"2014-09-05T19:10:10Z","event_status_id":5,"ancestorGenreDescriptions":["All tickets","Concert tickets","Artists A - C","Above and Beyond Tickets"],"ancestorGeoDescriptions":["By Geography","Canada","British Columbia","Vancouver","Pacific Coliseum"],"timezone":"PST","timezone_id":"5","venue_config_name":"Endstage GA Floor - Dynamic","updateInitiatedTimestamp":"2014-10-13T20:01:46.002Z","book_of_business_id":1,"currency_code":"USD","event_config_template_id":"1","event_config_template":"Concert","venue_configuration_version":"1","locale":["en_US"],"keywords_en_US":"Above and Beyond, , Above and Beyond Pacific Coliseum, Above and Beyond Vancouver,Above and Beyond Concert, buy, sell, ticket, tickets","event_type_en_US":"9125471, ","seo_title_en_US":"Above and Beyond Pacific Coliseum Vancouver Tickets - 2014-10-11","seo_description_en_US":"Above and Beyond at Pacific Coliseum","name_primary_en_US":"Pacific Coliseum","name_secondary_en_US":"Above and Beyond","act_primary_en_US":"Above and Beyond","title_en_US":"Above and Beyond Vancouver Tickets - Above and Beyond 10/11/2014 Pacific Coliseum Tickets on StubHub!","meta_description_en_US":"Above and Beyond Pacific Coliseum Tickets - Buy and sell Above and Beyond Vancouver Tickets for October 11 at Pacific Coliseum in Vancouver, BC on StubHub!","event_description_en_US":"Above and Beyond Tickets","event_suggest":"Above and Beyond Tickets Above and Beyond Vancouver Tickets - Above and Beyond 10/11/2014 Pacific Coliseum Tickets on StubHub! Above and Beyond Pacific Coliseum By Geography Canada British Columbia Vancouver Pacific Coliseum Above and Beyond, , Above and Beyond Pacific Coliseum, Above and Beyond Vancouver,Above and Beyond Concert, buy, sell, ticket, tickets All tickets Concert tickets Artists A - C Above and Beyond Tickets Artists A - C Pacific Coliseum  Above and Beyond ","jdk_timezone":"US/Pacific","ptv_integrated_event_ind":0,"venueDetailUrlPath":"pacific-coliseum","is_scrubbing_enabled":"1","view_from_section_ind":0,"bundled_type":"2","hide_event_time":0,"minListPrice":0.0,"venue_config_map_type":5,"addr1":"100 North Renfrew Street","country":"CA","ancestorCategoryPath":"1","ancestorGroupingPath":"63910","ancestorPerformerPath":"494083","ancestorGroupingDescriptions":["Artists A - C"],"ancestorCategoryDescriptions":["Concert tickets"],"ancestorPerformerDescriptions":["Above and Beyond Tickets"],"ancestorGeoPath":"197077/5870/5871","venue_config_ga_ind":0,"ancestorCategoryUrls":["concert-tickets"],"ancestorGroupingUrls":["artists-a-c"],"ancestorPerformerUrls":["above-and-beyond-tickets"],"ancestorGeoUrls":["canada-tickets","british-columbia-tickets","vancouver-tickets"],"dateLastIndexed":"2014-10-13T20:01:53.128Z","_version_":1481879605479473152},{"stubhubDocumentId":"event-9105914","stubhubDocumentType":"event","event_id":"9105914","act_primary":"Above and Beyond","act_secondary":"Benny Benassi","id":"9105914","active":"1","cancelled":"0","allowedtoconfirm":"1","allowedtosell":"1","ancestorGenreIds":"0 1 63910 494083","ancestorGeoIds":"0 196976 673 674 2381","channel":"Concert tickets","channelId":"1","channelUrlPath":"concert-tickets","channel_facet_str":"Concert tickets|1","city":"Lowell","date_confirm":"2014-08-10T19:52:01Z","date_inhand":"2014-08-11T19:52:01Z","date_last_modified":"2014-08-11T19:52:01Z","date_onsale":"2014-08-11T19:52:01Z","description":"Above and Be[...]
- request:
    method: get
    uri: http://partner-feed.stubhub.com/listingCatalog/select/?q=event_id:%229099588%22%20AND%20stubhubDocumentType:%22event%22&rows=999999&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 13 Oct 2014 23:09:00 GMT
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"responseHead[...]
