---
http_interactions:
- request:
    method: get
    uri: http://partner-feed.stubhub.com/listingCatalog/select/?q=geoId:%2281989%22%20AND%20stubhubDocumentType:%22geo%22&rows=1&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"responseHeader":{"status":0,"QTime":15,"params":{"q":"geoId:\"81989\" AND stubhubDocumentType:\"geo\"","wt":"json","rows":"1"}},"response":{"numFound":1,"start":0,"docs":[{"stubhubDocumentType":"geo","stubhubDocumentId":"geo-81989","active":"1","deleted":"0","description":"Bob Hope Theatre","desc_sort":"Bob Hope Theatre","geoId":"81989","id":"81989","hidden":"0","ancestorGeoIds":"81989 81 4 196976 0","ancestorKeywords":"Bob Hope Theatre seating chart box office address capacity floor plan best seats images parking directions to details information restaurants SF Bay Area event ticketsSF Bay Area Venues events in SF Bay Areatickets for events in SF Bay Area sfbay sf s.f. bay California event ticketsCalifornia Venues events in Californiatickets for events in California ca cali cal United States event tickets United States Venues events in United States tickets for events in United States event tickets by city","categorySearchKeywords":"Bob Hope Theatre Bob Hope Theatre - Info and Details - StubHub! All the information you need on Bob Hope Theatre like seating charts directions box office address. Find nearby parking restaurants and hotels near Bob Hope Theatre on StubHub! Bob Hope Theatre seating chart box office address capacity floor plan best seats images parking directions to details information restaurants Bob Hope Theatre Bob Hope Theatre Bob Hope Theatre Bob Hope Theatre clubs-bars-theater-venues Bob Hope Theatre","categoryType":"geo","channel":"United States","channelId":"196976","channelUrlPath":"united-states-tickets","do_not_display_flag":"0","event_types":"clubs-bars-theater-venues","fullDescription":"SF Bay Area, California in Bob Hope Theatre","isValidCategorySearchResult":"1","keywords":"Bob Hope Theatre seating chart, box office, address, capacity, floor plan, best seats, images, parking, directions to, details, information, restaurants","leaf":"true","localeDescription":"SF Bay Area, California","meta_description":"All the information you need on Bob Hope Theatre, like seating charts, directions, box office, address. Find nearby parking, restaurants and hotels near Bob Hope Theatre on StubHub!","name_primary":"Bob Hope Theatre","name_secondary":"Bob Hope Theatre","parent_id":"81","season_venue_flag":"0","seo_description":"Bob Hope Theatre","seo_title":"Bob Hope Theatre","threeLevelsUpIds":"81989 81 4","title":"Bob Hope Theatre - Info and Details - StubHub!","urlpath":"bob-hope-theatre-event-tickets","urlpathid":"123778","ancestorDescription":"Bob Hope Theatre SF Bay Area California United States By Geography","date_last_modified":"2013-04-17T18:13:11Z","locale":["en_US"],"venueDetailUrlPath":"bob-hope-theatre","venueDetailUrlPathId":"2069426","nodeType":"Venue","ancestorGeoPath":"196976/4/81","ancestorVenuePath":"81989","ancestorGeoDescriptions":["United States","California","SF Bay Area"],"dateLastIndexed":"2014-03-04T12:50:33.986Z","_version_":1461649341474144256}]}}
  recorded_at: Thu, 06 Mar 2014 01:08:05 GMT
- request:
    method: get
    uri: http://partner-feed.stubhub.com/listingCatalog/select/?q=description:%22Hawaii%22%20AND%20stubhubDocumentType:%22geo%22&rows=2&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"responseHeader":{"status":0,"QTime":1,"params":{"q":"description:\"Hawaii\" AND stubhubDocumentType:\"geo\"","wt":"json","rows":"2"}},"response":{"numFound":4,"start":0,"docs":[{"stubhubDocumentType":"geo","stubhubDocumentId":"geo-421","active":"1","deleted":"0","description":"Hawaii","desc_sort":"Hawaii","geoId":"421","id":"421","hidden":"0","childId":"422 33782 79798","ancestorGeoIds":"421 196976 0","ancestorKeywords":"Hawaii event ticketsHawaii Venues events in Hawaiitickets for events in Hawaii ha hai United States event tickets United States Venues events in United States tickets for events in United States event tickets by city","categorySearchKeywords":"Hawaii Hawaii Event Tickets Hawaii event tickets - Buy and sell tickets to events in Hawaii. You can find event tickets to different venues in Hawaii at StubHub! Hawaii event ticketsHawa[...]
- request:
    method: get
    uri: http://partner-feed.stubhub.com/listingCatalog/select/?q=localeDescription:%22SF%20Bay%20Area%22%20AND%20stubhubDocumentType:%22geo%22&rows=2&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"responseHeader":{"status":0,"QTime":3,"params":{"q":"localeDe[...]
