---
http_interactions:
- request:
    method: get
    uri: http://partner-feed.stubhub.com/listingCatalog/select/?q=localeDescription:%22SF%20Bay%20Area%22%20AND%20stubhubDocumentType:%22geo%22&rows=2&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"responseHeader":{"status":0,"QTime":1,"params":{"q":"localeDescription:\"SF Bay Area\" AND stubhubDocumentType:\"geo\"","wt":"json","rows":"2"}},"response":{"numFound":420,"start":0,"docs":[{"stubhubDocumentType":"geo","stubhubDocumentId":"geo-33678","active":"1","deleted":"0","description":"Redding Convention Center","desc_sort":"Redding Convention Center","geoId":"33678","id":"33678","hidden":"0","ancestorGeoIds":"33678 81 4 196976 0","ancestorKeywords":"Redding Convention Center seating chart box office address capacity floor plan best seats images parking directions to details information restaurants SF Bay Area event ticketsSF Bay Area Venues events in SF Bay Areatickets for events in SF Bay Area sfbay sf s.f. bay California event ticketsCalifornia Venues events in Californiatickets for events in California ca cali cal United States event tickets United States Venues events in United States tickets for events in United States event tickets by city","categorySearchKeywords":"Redding Convention Center Redding Convention Center - Info and Details - StubHub! All the information you need on Redding Convention Center like seating charts directions box office address. Find nearby parking restaurants and hotels near Redding Convention Center on StubHub! Redding Convention Center seating chart box office address capacity floor plan best seats images parking directions to details information restaurants Redding Convention Center Redding Convention Center Redding Convention Center Redding Convention Center other-venues Redding Convention Center","categoryType":"geo","channel":"United States","channelId":"196976","channelUrlPath":"united-states-tickets","do_not_display_flag":"0","event_types":"other-venues","fullDescription":"SF Bay Area, California in Redding Convention Center","isValidCategorySearchResult":"1","keywords":"Redding Convention Center seating chart, box office, address, capacity, floor plan, best seats, images, parking, directions to, details, information, restaurants","leaf":"true","localeDescription":"SF Bay Area, California","meta_description":"All the information you need on Redding Convention Center, like seating charts, directions, box office, address. Find nearby parking, restaurants and hotels near Redding Convention Center on StubHub!","name_primary":"Redding Convention Center","name_secondary":"Redding Convention Center","parent_id":"81","season_venue_flag":"0","seo_description":"Redding Convention Center","seo_title":"Redding Convention Center","threeLevelsUpIds":"33678 81 4","title":"Redding Convention Center - Info and Details - StubHub!","urlpath":"redding-convention-center-event-tickets","urlpathid":"51886","ancestorDescription":"Redding Convention Center SF Bay Area California United States By Geography","date_last_modified":"2013-04-17T18:13:11Z","locale":["en_US"],"venueDetailUrlPath":"redding-convention-center","venueDetailUrlPathId":"2070985","nodeType":"Venue","ancestorGeoPath":"196976/4/81","ancestorVenuePath":"33678","ancestorGeoDescriptions":["United States","California","SF Bay Area"],"dateLastIndexed":"2014-04-18T12:44:41.016Z","_version_":1465725837197180929},{"stubhubDocumentType":"geo","stubhubDocumentId":"geo-212905","active":"1","deleted":"0","description":"SF Playhouse","desc_sort":"SF Playhouse","geoId":"212905","id":"212905","hidden":"0","ancestorGeoIds":"212905 81 4 196976 0","ancestorKeywords":"SF Playhouse Tickets SF Playhouse Schedule SF Playhouse event tickets Buy sell tickets\r\n SF Bay Area event ticketsSF Bay Area Venues events in SF Bay Areatickets for events in SF Bay Area sfbay sf s.f. bay California event ticke[...]
- request:
    method: get
    uri: http://partner-feed.stubhub.com/listingCatalog/select/?q=description:%22Hawaii%22%20AND%20stubhubDocumentType:%22geo%22&rows=2&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"responseHeader":{"status":0,"QTime":1,"params":{"q":"description:\"Hawaii\" AND stubhubDocumentType:\"geo\"","wt":"json","rows":"2"}},"response":{"numFound":4,"start":0,"docs":[{"stubhubDocumentType":"geo","stubhubDocumentId":"geo-421","active":"1","deleted":"0","description":"Hawaii","desc_sort":"Hawaii","geoId":"421","id":"421","hidden":"0","childId":"422 33782 79798","ancestorGeoIds":"421 196976 0","ancestorKeywords":"Hawaii event ticketsHawaii Venues events in Hawaiitickets for events in Hawaii ha hai United States event tickets United States Venues events in United States tickets for events in United States event tickets by city","categorySearchKeywords":"Hawaii Hawaii Event Tickets Hawaii event tickets - Buy and sell tickets to events in Hawaii. You can find event tickets to different venues in Hawaii at StubHub! Hawaii event ticketsHawa[...]
- request:
    method: get
    uri: http://partner-feed.stubhub.com/listingCatalog/select/?q=geoId:%2281989%22%20AND%20stubhubDocumentType:%22geo%22&rows=1&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"responseHeader":{"status":0,"QTime":3,"params":{"q":"geoId:\"81989\" AND stubhubDoc[...]
