---
http_interactions:
- request:
    method: get
    uri: http://partner-feed.stubhub.com/listingCatalog/venue_zone_section/select/?q=venue_section_id:%2262048%22&rows=999999&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 18 Sep 2014 11:07:15 GMT
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"responseHeader":{"status":0,"QTime":6,"params":{"q":"venue_section_id:\"62048\"","wt":"json","rows":"60000"}},"response":{"numFound":1,"start":0,"docs":[{"stubhubDocumentId":"venue_zone_section-59070","stubhubDocumentType":"venue_zone_section","id":"59070","active":"1","venue_config_id":"2305","venue_zone_id":"10818","venue_zone_desc":"Floor","venue_zone_active":"1","venue_section_id":"62048","venue_section_active":"1","venue_zone_section_id":"59070","venue_section_alias_id":["44705"],"venue_section_alias":["Floor 112"],"venue_section_alias_map_id":["178099"],"venue_section_alias_map_primary_display":["1"],"venue_section_primary_alias":"Floor 112","venue_section_primary_alias_id":"44705","venue_section_primary_alias_map_id":"178099","venue_section_primary_alias_date_added":"2006-09-12T23:35:19Z","venue_section_primary_alias_date_last_modified":"2013-02-04T20:53:33Z","venue_zone_display_sort_order":"1","updateInitiatedTimestamp":"2013-06-13T12:42:53.622Z","dateLastIndexed":"2013-06-13T12:55:19.329Z","_version_":1437732039329579008}]}}
  recorded_at: Mon, 13 Oct 2014 23:09:19 GMT
recorded_with: VCR 2.4.0
